/* Globals */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Pacifico';
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* utilities */
.yta_u-onlyRead {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  border: 0 !important;
}

.yta_u-link {
  position: relative;
  padding: 4px;
  text-decoration: none;
  color: #301e31;
}

.yta_u-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  border-bottom: 2px solid #301e31;
  transition: width 0.5s ease;
}

.yta_u-link:hover:after {
  width: 100%;
}

/* Menu */
.yta_Header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.yta_Header-title {
  font-size: 1.75em;
  color: #301e31;
}

.yta_Header-title span {
  display: block;
}

.yta_Header-menu {
  text-align: right;
}

.yta_Header-menu-list-item {
  padding: 0.5em 0 0.5em 0.5em;
}

/* Cover */
.yta_Cover {
  height: 100vh;
  background-image: url(./../images/cover.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yta_Cover-logo {
  height: 12.5em;
}

.yta_Cover-video {
  display: none;
}

/* Adopt */
.yta_Adopt {}

.yta_Adopt-title {
  font-size: 1.75em;
  padding: 0.86em;
  background-color: #ffc85e;
  color: #553457;
}

.yta_Adopt-cards {
  max-width: 87.5em;
  padding: 1.5em;
  margin: 0 auto;
}

.yta_Adopt-card {
  position: relative;
  width: 100%;
  max-width: 43.75em;
  padding: 13.75em 1.25em 1.25em 1.25em;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  margin-top: 1.5em;
}

.yta_Adopt-card:first-child {
  margin-top: 0;
}

.yta_Adopt-card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12.5em;
  background-image: url(./../images/puppy.png);
  background-size: cover;
  background-position: center;
}

.yta_Adopt-card-description-name {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.42em;
}

.yta_Adopt-card-description-details {
  line-height: 1.5;
}

.yta_Adopt-card-description-link {
  text-align: right;
  margin-top: 1em;
}

/* Footer */
.yta_Footer {
  color: white;
  text-align: center;
}

.yta_Footer-socialNetwork {
  padding: 1em;
  background-color: #553457;
}

.yta_Footer-socialNetwork-item {
  display: inline-block;
}

.yta_Footer-socialNetwork-item a {
  display: inline-block;
  opacity: 0.7;
  transition: opacity 0.5s ease;
}

.yta_Footer-socialNetwork-item a:hover {
  opacity: 1;
}

.yta_Footer-copyright {
  font-size: 0.625em;
  padding: 1em;
  background-color: #301e31;
}

/* Extra small < 576px (by default) */

/* Small >= 576px and < 768px */
@media screen and (min-width: 36em) {
  .yta_Header {
    padding: 0.75em 1.5em;
  }

  .yta_Header-title span {
    display: inline;
  }

  .yta_Header-menu-list-item {
    display: inline-block;
  }

  .yta_Adopt-card {
    padding-top: 1.25em;
    padding-left: 13.75em;
    margin-left: auto;
    margin-right: auto;
  }

  .yta_Adopt-card-img {
    height: 100%;
    width: 12.5em;
  }
}

/* Medium >= 768px and < 992px */
@media screen and (min-width: 48em) {
  .yta_Adopt-title {
    text-align: center;
  }
}

/* Large >= 992px and < 1200px */
@media screen and (min-width: 62em) {
  .yta_Cover {
    height: auto;
    background-image: url(./../images/puppiness.jpg);
  }

  .yta_Cover-logo {
    display: none;
  }

  .yta_Cover-video {
    display: block;
    width: 100%;
  }

  .yta_Adopt-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .yta_Adopt-card {
    width: calc(50% - 0.625em);
    margin-left: 0;
    margin-right: 0;
  }

  .yta_Adopt-card:nth-child(2) {
    margin-top: 0;
  }
}

/* Extra large >= 1200px */