{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "printWidth": 120,
        "semi": true,
        "tabWidth": 2,
        "singleQuote": true
      }
    ]
  },
  "plugins": ["react", "prettier"]
}
