.yta_Modal {
  &.is-active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(#000, 0.7);
    z-index: 100;
  }

  &-content {
    padding: 4em;
    background-color: white;
  }
}
