/* Extra small < 576px (by default) */
/* Small >= 576px and < 768px */
@media screen and (min-width: 36em) {
  .yta_Header {
    padding: 0.75em 1.5em;
  }

  .yta_Header-title span {
    display: inline;
  }

  .yta_Header-menu-list-item {
    display: inline-block;
  }

  .yta_Adopt-card {
    padding-top: 1.25em;
    padding-left: 13.75em;
    margin-left: auto;
    margin-right: auto;
  }

  .yta_Adopt-card-img {
    height: 100%;
    width: 12.5em;
  }
}

/* Medium >= 768px and < 992px */
@media screen and (min-width: 48em) {
  .yta_Adopt-title {
    text-align: center;
  }
}

/* Large >= 992px and < 1200px */
@media screen and (min-width: 62em) {
  .yta_Cover {
    height: auto;
    background-image: url(./../images/puppiness.jpg);
  }

  .yta_Cover-logo {
    display: none;
  }

  .yta_Cover-video {
    display: block;
    width: 100%;
  }

  .yta_Adopt-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .yta_Adopt-card {
    width: calc(50% - 0.625em);
    margin-left: 0;
    margin-right: 0;
  }

  .yta_Adopt-card:nth-child(2) {
    margin-top: 0;
  }
}

/* Extra large >= 1200px */