.yta_Cover {
  height: 100vh;
  background-image: url(./../images/cover.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &-logo {
    height: 12.5em;
  }

  &-video {
    display: none;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .yta_Cover {
    height: auto;
    background-image: url(./../images/puppiness.jpg);

    &-logo {
      display: none;
    }

    &-video {
      display: block;
      width: 100%;
    }
  }
}
