.yta_Cover {
  height: 100vh;
  background-image: url(./../images/cover.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &-logo {
    height: 12.5em;
  }

  &-video {
    display: none;
  }
}
