.yta_Header {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  &-title {
    font-size: 1.75em;
    color: $purple-dark;

    span {
      display: block;
    }
  }

  &-menu {
    text-align: right;

    &-list {
      &-item {
        padding: 0.5em 0 0.5em 0.5em;
      }
    }
  }
}
