%link {
  display: inline-block;
  text-decoration: none;
}

@mixin build-link-underline($name, $color) {
  &-underline--#{$name} {
    @extend %link;
    position: relative;
    padding: 0.25em;
    color: $color;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      border-bottom: 2px solid $color;
      transition: width 0.5s ease;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}

@mixin build-link-outline($name, $color) {
  &-outline--#{$name} {
    @extend %link;
    font-size: 0.9em;
    padding: 0.4em;
    border-radius: 4px;
    color: $color;
    border: 1px solid $color;
    transition: all 0.5s ease;

    &:hover {
      background-color: $color;
      color: $white;
    }
  }
}

.yta_Link {
  @each $name, $color in (primary: $purple-dark, secondary: $yellow) {
    @include build-link-underline($name, $color);
    @include build-link-outline($name, $color);
  } 
}
