.yta_u {
  &-onlyRead {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    border: 0 !important;
  }

  &-link {
    position: relative;
    padding: 4px;
    text-decoration: none;
    color: $purple-dark;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      border-bottom: 2px solid $purple-dark;
      transition: width 0.5s ease;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}
